= form_for story, html: {class: "form-horizontal"} do |f|
  .control-group
    = f.error_messages

  .control-group
    = f.label :title, class: "control-label span4"
    = f.text_field :title, class: "controls span8"
  .control-group
    = f.label :victims, class: "control-label span4"
    = f.text_field :victims, class: "controls span8"
  .control-group
    = f.label :occurred_at, class: "control-label span4"
    = f.text_field :occurred_at, class: "controls span8"
  .control-group
    = f.label :bias, class: "control-label span4"
    = f.select :bias, options_for_bias, {}, class: "controls span8"
  .control-group
    = f.label :offense, class: "control-label span4"
    = f.select :offense, options_for_offense,{}, class: "controls span8"
  .control-group
    = f.label :link, class: "control-label span4"
    = f.text_field :link, class: "controls span8"

  .control-group
    = f.label :description, class: "control-label span4"
    = f.text_area :description, class: "controls span8", rows: "5"

  .control-group.center
    = f.submit value: "Add your story", class: "controls right btn btn-primary btn-large"


