- content_for :head do
  = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
  = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
  = javascript_include_tag "datepicker.js"

= javascript_tag ""

= form_for @story do |f|
  = f.error_messages

  = f.label :title
  = f.text_field :title

  %br

  = f.label :occurred_at
  = f.text_field :occurred_at, id: "datepicker"

  %br

  = f.label :victims
  = f.text_field :victims

  %br

  = f.label :link
  = f.text_field :link

  %br

  = f.label :description
  = f.text_area :description

  %br
  = f.label :bias
  = f.select :bias, options_for_bias

  %br
  = f.label :offense
  = f.select :offense, options_for_offense

  %br
  = f.submit
  = link_to "Cancel", root_path


