%h1
  Filter the Stories
%form.row#form-filter

  .category-selection.span3
    =label_tag 'bias', nil, class: 'radio' do
      = radio_button_tag 'filter_by', "bias", class: "controls"
      By Bias

    =label_tag 'offense', nil, class: 'radio' do
      = radio_button_tag 'filter_by', "offense", class: "controls"
      By Offense

    =label_tag 'all', nil, class: 'radio' do
      = radio_button_tag 'filter_by', "all", class: "controls", checked: "checked"
      No Filter

  .span3
    .bias-categories.control-group
      =label_tag 'Types of Biases', nil, class: 'control-label'
      = select_tag(:bias_category, options_for_bias_category)

    .offense-categories
      =label_tag 'Types of Offenses', nil, class: 'control-label'
      = select_tag(:offense_category, options_for_offense_category)

  .span3
    .biases
      =label_tag 'Biases', nil, class: 'control-label'
      = select_tag(:bias, options_for_bias)

    .offenses
      =label_tag 'Offenses', nil, class: 'control-label'
      = select_tag(:offense, options_for_offense)

  .span3
    = link_to "Filter Results", root_path, id: "filter", class: "btn btn-large btn-primary"
    %p
      #{@total_victims} victim counts
