%header#top
  .container.home
    .row
      %h1.span12
        = @story.title
    .row
      .span5
        %h2
          The Victims
        %ul
          - @story.victim_list.each do |v|
            %li
              = v
      .span7
        %p
          = @story.description
          %a.external{href:"#{@story.link}"} Read More >>

    .row.center.margintop20
      %p
        There have been #{@total_victims} hate crimes recorded by the FBI since 2006.
      %p
        = link_to "See another story", root_path(filters)
