!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    / ################ NAVIGATION START ################
    .navbar-wrapper
      #navigation.navbar.navbar-fixed-top
        .navbar-inner
          .container
            %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => ""}
              %img{:src => "assets/azy_theme/logo.png"}/
            .nav-collapse.collapse
              %ul.nav.pull-right
                %li.active
                  %a{:href => "#top"} Home
                %li
                  %a{:href => "#features"} Features
                %li
                  %a{:href => "#signup"} Add a Story
    / ################ NAVIGATION END ################
    / ################ WRAP START ################
    #wrap
      = yield
      / ################ MAIN CONTAINER START ################
      .container
        / ################ FEATURES SECTION START ################
        %section#features
          .row
            .span6
              %h1 Your favorite marketing slogan comes here...
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui.
              %p
                Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
            .span6
              %img{:src => "assets/azy_theme/person.png"}/
          .row.margintop20
            .span4
              %h2
                %i.icon-briefcase
                1st Feature
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh.
            / /span4
            .span4
              %h2
                %i.icon-bullhorn
                2nd Feature
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh.
            / /span4
            .span4
              %h2
                %i.icon-bar-chart
                3rd Feature
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh.
            / /span4
        / ################ FEATURES SECTION END ################
        %hr.line/
        / ################ SIGNUP SECTION START ################
        %section#signup
          .row.center
            .span12
              %h2
                Do you have a story to share?
                %i.icon-hand-right
              %p
                Unlock your full potential with a world-class template!
              %a.btn.btn-landing.btn-large GET STARTED TODAY
        /%br/
        /.alert.alert-danger.span5.offset3
        /%button.close{"data-dismiss" => "alert", :type => "button"} ×
        /%strong OFFER
        /An easy way to show important offers to your customers.
        / ################ SIGNUP SECTION END ################
        / ################ BOTTOM SECTION START ################
        %section#bottom
          %hr.line/
          .row.center
            .span12
              %h2
                Clients around the
                %i.icon-globe{:style => "font-size: 80px; line-height: 80px;"}
              %img.margintop20{:src => "assets/azy_theme/companies.png", :style => "height:60px"}/
        / ################ BOTTOM SECTION END ################
      / ################ PUSH WILL KEEP THE FOOTER AT BOTTOM IF YOU WANT TO CREATE OTHER PAGES ################
      #push
    / ################ FOOTER START ################
    %footer#footer.margintop20
      .container
        .row
          .span4
            %h2 How you can help
            %img{:src => "assets/azy_theme/logo-dark.png"}/
    /        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.
    /        %p.copyright
    /          © 2012 Azy Inc.
    /      .span2
    /        %h2 links
    /        %ul.unstyled.margintop20
    /          %li About Us
    /          %li Blog
    /          %li History
    /          %li Jobs
    /      .span3
    /        %h2 subscribe
    /        .input-append.margintop20
    /          %input#appendedInputButton.span2{:placeholder => "Enter your email id..", :type => "text"}/
    /          %button.btn{:type => "button"} Go!
    /        %ul.inline.social.margintop20
    /          %li
    /            %i.icon-facebook
    /          %li
    /            %i.icon-twitter
    /          %li
    /            %i.icon-linkedin
    /      .span3
    /        %h2
    /          tweets
    /          %i.icon-twitter
    /        %ul#twitter.margintop20
