!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = javascript_include_tag "datepicker.js"
  %body
    / ################ NAVIGATION START ################
    .navbar-wrapper
      #navigation.navbar.navbar-fixed-top
        .navbar-inner
          .container
            %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => ""}
              %img{:src => "assets/azy_theme/logo.png"}/
            .nav-collapse.collapse
              %ul.nav.pull-right
                %li.active
                  %a{:href => "#top"} Home
                %li
                  %a{:href => "#graph"} Stop the Hate
                %li
                  %a{:href => "#share"} Add a Story
    / ################ NAVIGATION END ################
    / ################ WRAP START ################
    #wrap
      = yield
      / ################ MAIN CONTAINER START ################
      .container
        / ################ FEATURES SECTION START ################
        %section#graph
          .row.margintop20
            .span6
              %h1 Stop the Hate
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui.
              %p
                Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
            .span6
              #hate_graph
        / ################ FEATURES SECTION END ################
        %hr.line/
        / ################ SIGNUP SECTION START ################
        %section#share
          .row.center
            .span12
              %h2
                Do you have a story to share?
              %p
                If you've experienced or witnessed any hate crimes, we urge you to share your story. Let the world know that hate crimes are not okay!
          .row
            .new-story-container.span12
              = render partial: "stories/new", locals: {story: @new_story}
        / ################ SIGNUP SECTION END ################
    %footer#footer.margintop20
      .container
        .row
          .span4
            %h3 Related Resources
            %ul
              %li
                %a{href:"http://www.fbi.gov/about-us/cjis/ucr/hate-crime"}FBI Uniform Crime Reports
              %li
                %a{href:"http://www.nohatespeechmovement.org/"}No Hate Speech Movement
          .span6
            %h3 About yHate
            %p
              Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
